<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap 5 Website Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= render "general/boot-header" %>
</head>

<body class="bg-dark">
    <%= render "general/navbar" %>

        <div class="container text-white">
            <h1 class="display-3">My Portfolio</h1>
            <p>Hi, my name is Derek Gary and this is my portfolio that I
                made for CS3300. My UCCS degree program is <a
                    href="https://www.uccs.edu/degreesandprograms/bacs">Bachelor
                    of Arts in Computer Science</a>.</p>
            <div class="text-dark">
                <ul class="list-group text">
                    <ul class="list-group-item">Programming Languages
                        <div class="mx-5">
                            <li>C++</li>
                            <li>C#</li>
                            <li>Java</li>
                            <li>Python</li>
                            <li>TypeScript</li>
                            <li>Ruby</li>
                        </div>
                    </ul>
                    <ul class="list-group-item">Technical Skills
                        <div class="mx-5">
                            <li>Testing</li>
                            <li>Debugging</li>
                            <li>Source Control</li>
                            <li>Technical Writing</li>
                        </div>
                    </ul>
                    <ul class="list-group-item">Soft Skills
                        <div class="mx-5">
                            <li>Problem-Solving Ability</li>
                            <li>Conflict Resolution</li>
                            <li>Adaptable</li>
                            <li>Motivated</li>
                        </div>
                    </ul>
                </ul>

                <% @projects.in_groups_of(3, false).each do |row_group| %>
                    <div class="d-flex flex-row pt-4 gap-3">
                        <% row_group.each do |individual_project| %>
                            <div class="col sm-3"  style="width:50%">
                                <div class="card card-body border-success d-flex flex-column" style="height:auto">
                                <h4 class="card-title"><%= individual_project.title %></h4>
                                <p class="card-text"><%= individual_project.description %></p>
                                <%= link_to "Show this project »", individual_project, class:"btn btn-primary mt-auto"%>
                                </div>
                            </div>
                        <% end %>
                    </div>
                <% end %>
            </div>
            <footer class="p-4 rounded">
                <hr class="hr" />
                <div class="copyright">
                    <p>Created using Ruby on Rails and Bootstrap</p>
                </div>
            </footer>
</body>

</html>